# gitignore

# phpstorm project specific settings dir
.idea

# composer vendor dir
vendor

# composer lock file
composer.lock

# composer php archive file
composer.phar

# phpdoc
phpdoc
apigen.phar
apigen-theme-bootstrap

# folder view configuration files
.DS_Store
.AppleDouble
.LSOverride
Desktop.ini

# thumbnail cache files
._*
Thumbs.db

# files that might appear on external disks
.Spotlight-V100
.Trashes